# Fichiers Python
__pycache__/
*.py[cod]
*$py.class
*.so

# Environnement virtuel
venv/
env/
.venv/

# Variables d'environnement
.env

# IDE
.idea/
.vscode/
*.swp
*.swo

# Fichiers système
.DS_Store
Thumbs.db

# Streamlit
.streamlit/secrets.toml

# Données temporaires
*.csv
*.xlsx
!donnees_exemple.csv

# Logs
*.log
